*{
    padding: 0;
    margin: 0;
}
body {
background-color: indianred;
text-align: center;
}
.container{
height: 70vh;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.game{
   height: 60vh;
   width: 60vmin;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 1.5vmin; 
}

.box
{
   height: 18vmin;
   width: 18vmin;
   box-sizing: 0 0 1rem rgba (0, 0 ,0 , 0.3);
   font-size: 7vmin;
   color: chocolate;
   background-color: antiquewhite;
}
#reset{
    padding: 1rem;
    font-size: 1rem;
    background-color: antiquewhite;
    color: black;

}
#new-game{
    padding: 1rem;
    font-size: 1rem;
    background-color: antiquewhite;
    color: black;
}


.msg{
    font-size: 4rem;
    display: none; 
    margin-top: 3rem;
}
.para{
    font-size: 4rem;
}

.msg-container{
height: 70 vmin;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 4rem;
}